.bottom .left{
  zoom:0.8
}
.bottom .right{
  flex: 1;
  text-align: right;
}
.bottom .right span:last-child(2){
  margin: 0px 3px;
}
.bottom .right span:last-child{
  color: blue;
}
/* 首页样式 */
.swiper{
  margin-bottom: 10px;
}
.swiper-pagination{
  width: 100%;

}
.kinds{
  display: flex;
  flex-wrap: wrap;
}
.pic_text{
  width: 25%;
  zoom: 0.7;
  text-align: center;
  margin-bottom: 10px;
}
.pic_text img{
  width: 50%;
}