.top{
  display: flex;
  height: 50px;
  margin-bottom: 1px;
  border-bottom: 1px solid #e0e0e0;
}
.d1{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active{
  color: blue;
}